.split-jumbo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.split-jumbo__content,
.split-jumbo__media-box{
    margin: 0;
}

.split-jumbo__content {

    /*app intro content box*/
    @media all and (min-width: 550px) {
        width: 80%;
    }
}

.split-jumbo__media-box {
    text-align: center;
}


.split-jumbo__image {
    max-width: 100%;

    /* app-intro splitjumbo image */
    @media all and (min-width: 550px) {
        .app-intro & {
            max-width: 400px;
            margin: 0 auto;
            display: inline-block;
        }
    }
}

