.decore-heading__title {
    font-weight: bold;
    margin-bottom: -1.2rem;
}

.decore-heading__title-underline {
    display: inline-block;
    width: 8rem;
    border-top: 1px solid $primary-color;
}