// ***********************
// This file includes 2 sections.
// Palettes: These are the actual color variables organized in 3 groups
// Cool, Warm and Grayscale
// Theme: These are the practical variables that are used throughout the site
// They are categorized as (Global, Text, Links, Buttons, States & Extra)
// ***********************



//----PALETTE----//


// Cool
$color-aqua: #1EAEDB !default;  //*
$color-blue: #3794DE !default;  //*
$color-navy: #001F3F !default;
$color-teal: #39CCCC !default;
$color-green: #35BEB1 !default; //*
$color-olive: #3D9970 !default;
$color-lime: #01FF70 !default;

// Warm
$color-yellow: #f7BA45 !default;    //*
$color-orange: #e45a50 !default;
$color-red:    #F03C69 !default;    //*
$color-fuchsia: #F012BE !default;
$color-purple: #9B4DCA !default;    //*
$color-maroon: #85144B !default;

// Grayscale
$color-black: #0D0D0E !default;
$color-darkgray: #313439 !default;
$color-midgray: #676B72 !default;
$color-gray: #BDBDBD !default;
$color-lightgray: #D4D4D4 !default;
$color-silver: #E0E1E1 !default;
$color-aluminum: #F8F8F8 !default;
$color-white: #FFF !default;

// Brightness
$color-tint: 9 !default;
$color-tint-dark: $color-tint !default;
$color-tint-darker: $color-tint * 2 !default;
$color-tint-light: $color-tint !default;
$color-tint-lighter: $color-tint * 2 !default;



//----THEME----//


// Global
$initial-color: $color-white !default;
$primary-color: $color-orange !default;
$secondary-color: $color-darkgray !default;

// Text
$heading-color: $color-black !default;
$text-color: $color-darkgray !default;

// Links
$link-color: $color-blue !default;
$link-hover-color: $color-red !default;

// Buttons
$button-primary-color: $color-orange !default;
$button-primary-text-color: $color-white !default;
$button-secondary-color: $color-darkgray !default;
$button-secondary-text-color: $color-white !default;

// States
$error-color: $color-red !default;
$success-color: $color-green !default;
$warning-color: $color-yellow !default;
$focus-color: $color-aqua !default;

// Extra
$color-inverted: $color-white !default;
$color-highlight: lighten($color-blue, 35%) !default;
$border-color: $color-lightgray;
$transparency: 0.2;










