

.food-cat--1 {
    background-image: url("./../images/italian.jpg");
}
.food-cat--2 {
    background-image: url("./../images/indian.jpg");
}
.food-cat--3 {
    background-image: url("./../images/french.jpg");
}
.food-cat--4 {
    background-image: url("./../images/steak.jpg");
}
.food-cat--5 {
    background-image: url("./../images/seafood.jpg");
}
.food-cat--6 {
    background-image: url("./../images/sushi.jpg");
}
.food-cat--7 {
    background-image: url("./../images/mexican.jpg");
}
.food-cat--8 {
    background-image: url("./../images/chinese.jpg");
}
.food-cat--9 {
    background-image: url("./../images/pizza.jpg");
}
.food-cat--10 {
    background-image: url("./../images/american.jpg");
}
